@import './App.scss';

#table_container {
	padding-right: 5rem;
	padding-left: 5rem;
	width: 75vw;
	height: $wheel-size;
	display: flex;
	@include tablet {
		margin-top: 2rem;
		width: 100%;
	}
	.win_effect {
		animation: win_effect 1s linear infinite;
		@keyframes win_effect {
			50% {
				background-color: rgb(172, 172, 0);
			}
			100% {
				background-color: $table-color;
			}
		}
	}
	span {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: white;
		font-size: 1vw;
		font-weight: bold;
	}

	#zero_column {
		height: 75%;
		background-color: $table-color;
		flex-grow: 2;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid white 1px;
		position: relative;
		cursor: pointer;
		span {
			font-weight: bold;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2vw;
			height: 3vw;
			width: 3vw;
			border: white solid 2px;
			border-radius: 50%;
		}
	}
	#last_column {
		height: 75%;
		flex-grow: 0.3;
		background-color: $table-color;
		.row {
			outline: white 1px solid;
			height: 33.33%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			cursor: pointer;
			p {
				color: white;
				font-size: 1vw;
				font-weight: bold;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				transform: rotate(-90deg);
			}
		}
	}
	.number_column {
		height: 100%;
		flex-grow: 5.5;
		cursor: pointer;
		.bonus_container {
			height: 25%;
			background-color: $table-color;
			border: white solid 1px;
			box-sizing: border-box;
			.bonus_12 {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50%;
				border-bottom: white solid 1px;
				position: relative;
			}
			.bonus_mini_container {
				display: flex;
				height: 50%;
				.bonus_mini {
					width: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					border-left: white solid 1px;
					border-right: white solid 1px;
					position: relative;
					#diamond_red {
						left: 20%;
						transform: rotate(90deg);
						width: 0;
						height: 0;
						border: 0.8vw solid transparent;
						border-bottom: 1.9vw solid $red;
						position: relative;
						&:after {
							content: '';
							position: absolute;
							left: -0.8vw;
							top: 1.9vw;
							width: 0;
							height: 0;
							border: 0.8vw solid transparent;
							border-top: 1.9vw solid $red;
						}
					}
					#diamond_black {
						left: 20%;
						transform: rotate(90deg);
						width: 0;
						height: 0;
						border: 0.8vw solid transparent;
						border-bottom: 1.9vw solid black;
						position: relative;
						&:after {
							content: '';
							position: absolute;
							left: -0.8vw;
							top: 1.9vw;
							width: 0;
							height: 0;
							border: 0.8vw solid transparent;
							border-top: 1.9vw solid black;
						}
					}
				}
			}
		}
		.number_container {
			height: 75%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
			.number {
				background-color: $table-color;
				border: solid white 1px;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 33.33%;
				cursor: pointer;
				position: relative;
				span {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 3vw;
					height: 2vw;
					border-radius: 50%;

					&.red {
						background-color: $red;
					}
					&.black {
						background-color: black;
					}
				}
			}
		}
	}
	.betChip {
		position: absolute;
		width: 40px;
		height: 40px;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		span {
			position: absolute !important;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			font-size: 0.5vw !important;
		}
		img {
			width: 100%;
		}
	}
	.number:active,
	.bonus_12:active,
	.bonus_mini:active,
	#zero_column:active,
	.row:active {
		transform: translate(1px, 1px);
	}
}
